/* the styles for the main */
main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-size-adjust: 100%;
  padding: 0;
  margin: 0 2%;
  grid-area: main;
  display: grid;
  grid-template: repeat (3 auto) / 1fr 30%;
  grid-gap: 2.5%;
}

/* style for the link to top of page */
.linktop {
  margin: 10px, 0;
  padding: 10px 0;
  text-align: center;
}

/* the styles for the main */

section h1 {
  padding-top: 70px;
  padding-bottom: 1em;
  font-size: 200%;
  color: #4d4dcd;
  line-height: 1;
  text-align: center;
}

/* Style for the Our History Section */
.history {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.history p {
  max-width: 40em;
  padding: 2em;
  flex-wrap: wrap;
  font-size: 120%;
  color: var(--color-5);
  height: auto;
}
.history img {
  padding: 5px;
  border: 10px solid var(--color-2);
  width: 500px;
  height: 400px;
  margin: 10px;
}

/* Style for the Our Mission Section */
.mission {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.mission p {
  max-width: 40em;
  padding: 2em;
  flex-wrap: wrap;
  font-size: 120%;
  color: var(--color-5);
  height: auto;
}
.mission img {
  padding: 5px;
  border: 10px solid var(--color-2);
  width: 300px;
  height: 400px;
  margin: 10px;
}

/* Style for Meet the Team Section */
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.team-member {
  width: 250px;
  text-align: center;
}
.team-member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid var(--color-8);
  margin: 2px 10px;
}
.team-member h3 {
  font-size: 150%;
  margin: 5px 0;
}
.team-member h4 {
  font-weight: bolder;
  font-size: 120%;
  color: var(--color-2);
}
.team-member p {
  font-size: 14px;
  color: var(--color-5);
  margin-bottom: 2px;
}
/* The styles for the flipping Past Performaces Poster */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.flip-container {
  perspective: 1000px;
  margin-right: 10px;
  margin-bottom: 20px;
  display: inline-block;
  background-color: var(--color-2);
  border: 1px solid var(--color-5);
  justify-content: center;
}
.flipper {
  position: relative;
  width: 200px;
  height: 300px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/*Do a horizontal flip when you move the mouse over the flip box container */
.flip-container:hover .flipper {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.front,
back {
  position: absolute;
  width: 200px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
}

.back {
  color: var(--color-3);
  background-color: var(--color-2);
  transform: rotateY(180deg);
  padding: 10px;
  p {
    font-size: 80%;
  }
}

#mobile_menu {
  display: none; /* hide navigational menu */
}

/* 1st media query */
@media screen and (max-width: 1200px) {
  #nav_menu {
    display: none; /* hide navigational menu */
  }
  #mobile_menu {
    display: block; /* display Slicknav menu */
  }
  .slicknav_menu {
    /* Slicknav menu setting */
    main {
      float: none;
      padding: 2.5%;
      width: 95%;
    }
    background-color: var(--color-8) !important;
  }
  section h1 {
    text-align: center;
    padding-bottom: 30px;
  }
  .history {
    flex-wrap: wrap;
    justify-content: center;
  }
  .group p {
    font-size: 110%;
    padding: 25px;
  }
  .history img {
    width: 400px;
    height: 300px;
  }
  .mission {
    flex-wrap: wrap;
    justify-content: center;
  }
  .mission img {
    width: 200px;
    height: 300px;
  }
  .team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--color-8);
    margin: 1px 5px;
  }
}

/* 2nd media query*/
@media only screen and (max-width: 550px) {
  section h1 {
    padding: 25px 0;
    font-size: 120%;
  }
  .group p {
    font-size: 95%;
  }
  .group img {
    float: center;
    border: 5px solid var(--color-2);
    padding: 1px;
    margin: 0;
  }
  .history img {
    width: 300px;
    height: 200px;
  }
  .mission img {
    width: 200px;
    height: 300px;
  }
  footer p {
    font-size: 0.8 em;
  }
}
/*3rd media query*/
@media only screen and (max-width: 426px) {
  .team-member h3 {
    font-size: 110%;
  }
  .team-member h4 {
    font-size: 100%;
  }
  .team-member img {
    border: 1px solid var(--color-8);
    margin: 0.5px 2px;
  }
  .group p {
    font-size: 88%;
  }
}
