/* the styles for main */
main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  margin: 5em 2%; 
  grid-area: main;
  display: grid;
  grid-template: 3 auto / auto;
  grid-gap: 2%;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  align-content: center;
}
.container h1 {
  text-align: center;
  align-content: center;
}
.container message {
 height: 100px;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  align-content: center;
}
input[type="submit"] {
  background-color: var(--color-5);
  color: var(--color-3);
  padding: 10px;
  border: none;
  cursor: pointer;
}
.contact-info {
  margin: 0 auto;
  padding: 20px 20px;
  text-align: center;
  align-content: center;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
footer {
  position:fixed;
}
#mobile_menu {
  display: none;  /* turn off Slicknav menu */
}

/* 1st media query*/
@media screen and (max-width: 1028px) {
  header {
    padding-bottom: 1.5 em;
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    grid-gap: 0.5em;
    justify-items: center;
  }
  main {
    margin: 4em 1%; 
    h2,
    p {
      font-size: 95%;
    }
  }
  #nav_menu {
    display: none;  /* hide navigational menu */
  }
  #mobile_menu {
    display: block;  /* display Slicknav menu */
  }
  .slicknav_menu {   /* Slicknav menu setting */
    main {
      float: none;
      padding: 2.5%;
      width: 95%;
    }
    background-color: var(--color-8) !important;
  }
}

/* 2nd media query*/
@media only screen and (max-width: 500px) {
  body {
    margin: 0;
    font-size: 90%;
    padding: 0;
  }
  .container {
    max-width: 400px;
    padding: 0;
    margin: 2em;
    align-content: center;
  }
  footer p {
    font-size: 0.8em;
  }
}
/* 3rd media query*/
@media only screen and (max-width: 475px) {
  body {
    font-size: 85%;
    padding: 0;
  }
  textarea {
    font-size: 85%;
    }
  .container {
    max-width: 350px;
    padding: 0;
    margin: 2em;
  }
}

/* 4th media query */
@media only screen and (max-width: 440px) {
  body {
    font-size: 75%;
    padding: 0;
  }
  textarea {
    font-size: 75%;
    }
  .container {
    max-width: 280px;
    margin: 1em;
  }
}