/* the styles for main */
main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  margin: 4em 1%;
  padding-bottom: 14em; /*set white spaces between footer and the container*/
}
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  align-content: center;
}
.container h1 {
  text-align: center;
  align-content: center;
  margin-bottom: 1em;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  align-content: center;
}
input[type="message"],
textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  align-content: center;
}
input[type="submit"] {
  background-color: var(--color-5);
  color: var(--color-3);
  padding: 10px;
  border: none;
  cursor: pointer;
}
.contact-info {
  margin: 0 auto;
  padding: 20px 20px;
  text-align: center;
  align-content: center;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
#mobile_menu {
  display: none; /* turn off Slicknav menu */
}
/* 1st media query*/
@media screen and (max-width: 1045px) {
  main {
    margin: 4em 1%;
    h2,
    p {
      font-size: 95%;
    }
  }
  #nav_menu {
    display: none; /* hide navigational menu */
  }
  #mobile_menu {
    display: block; /* display Slicknav menu */
  }
  /* the style for slicknav menu */
  .slicknav_menu {
    main {
      float: none;
      padding: 2.5%;
      width: 95%;
    }
    background-color: var(--color-8) !important;
  }
}
/* 2nd media query*/
@media only screen and (max-width: 500px) {
  body {
    margin: 0;
    font-size: 90%;
    padding: 0;
  }
  main {
    margin: 1em 0 0 0;
    padding-bottom: 0;
  }
  header {
    font-size: 75%;
  }
  .container {
    width: 90%;
    padding: 0;
    margin: 0 1em;
  }
  footer p {
    font-size: 1em;
  }
}
/* 3rd media query*/
@media only screen and (max-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
    margin: 1em;
  }
}
/* 4th media query */
@media only screen and (max-width: 300px) {
  .container {
    margin: 0;
    text-align: center;
    align-content: center;
  }
  .contact-info {
    margin: 1em 0;
    padding: 0px 0px;
    text-align: center;
    align-content: center;
  }
}
