* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  background-color: var(--color-3);
}
/* CSS variables for colors */
:root {
  --color-1: #f2972e;
  --color-2: #135e17;
  --color-3: #ffffff;
  --color-4: #800000;
  --color-5: #000;
  --color-6: #c8dfee;
  --color-7: #ffebc6;
  --color-8: #00008b;
  --color-9: #ffff00;
  --color-10: #808080;
}
/* Style for the body & grid settings */
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 100%;
  width: 100%;
  display: grid;
  grid-template: repeat(5, auto) / 1fr;
  grid-gap: 0rem;
  grid-template-areas:
    "head"
    "navi"
    "main"
    "aside"
    "foot";
}
 /* Change font style to italic when cursor hovers the nav menu */
a:hover, a:focus {
  font-style: italic;
  color: white;
  background-color: var(--color-8); 
} 
/* the styles for the header */
header {
  grid-area: head;
  background-image: -moz-linear-gradient(
    30deg,
    var(--color-2) 0%,
    var(--color-2) 30%,
    var(--color-3) 50%,
    var(--color-2) 80%,
    var(--color-2) 100%
  );
  background-image: -webkit-linear-gradient(
    30deg,
    var(--color-2) 0%,
    var(--color-2) 30%,
    var(--color-3) 50%,
    var(--color-2) 80%,
    var(--color-2) 100%
  );
  background-image: -o-linear-gradient(
    30deg,
    var(--color-2) 0%,
    var(--color-2) 30%,
    var(--color-3) 50%,
    var(--color-2) 80%,
    var(--color-2) 100%
  );
  background-image: linear-gradient(
    30deg,
    var(--color-2) 0%,
    var(--color-2) 30%,
    var(--color-3) 50%,
    var(--color-2) 80%,
    var(--color-2) 100%
  );
}
/* the style for header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
/* the style for the header logo */
.logo img {
  width: 100px;
  height: auto;
  float: left;
  padding: 0 2%;
  margin-top: 1px;
  margin-right: 1px;
}
/* the style for the header title & subtitle */
.band-info {
  h1 {
    font-family: "Bruno Ace SC", sans-serif;
    font-style: normal;
    margin-top: 5px;
    font-size: 200%;
    font-weight: bolder;
    line-height: 1;
    text-align: center;
    text-shadow: 2px 2px 4px gray;
    color: var(--color-5);
  }
  h2 {
    font-family: "Bruno Ace SC", sans-serif;
    font-style: normal;
    font-size: 100%;
    font-weight: bolder;
    text-align: center;
    color: var(--color-5);
  }
  h3 {
    font-family: "Smooch", cursive;
    font-style: normal;
    font-size: 200%;
    font-weight: normal;
    text-align: center;
    color: var(--color-5);
  }
}
/* The styles for the navigation menu */
#nav_menu {
  grid-area: navi;
}
#nav_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template: auto / repeat(7, 1fr);
  align-content: center;
}
#nav_menu ul li a {
  display: block;
  text-align: center;
  padding: 1em 0;
  text-decoration: none;
  background-color: var(--color-8);
  color: var(--color-3);
  font-weight: bold;
}