/* the styles for main */
main {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding-bottom: 23.5em; /*set white spaces between footer and the carousel*/
  /* style for page title and quote*/
  h2 {
    font-size: 1.7em;
    margin-top: 2em;
  }
  p {
    font-size: 1em;
    margin: 2em 0;
  }
}
#mobile_menu {
  display: none; /* Turn off slicknav menu */
}
/* 1st media query */
@media only screen and (max-width: 1045px) {
  #nav_menu {
    display: none; /* hide navigational menu */
  }
  #mobile_menu {
    display: block; /* display Slicknav menu */
  }
  /* the style for slicknav menu */
  .slicknav_menu {
    main {
      float: none;
      padding: 2.5%;
      width: 95%;
    }
    background-color: var(--color-8) !important;
  }
  main {
    margin: 0.5em;
    h2 {
      font-size: 1.5em;
    }
    p {
      font-size: 0.9em;
    }
  }
}
/* 2nd media query*/
@media only screen and (max-width: 748px) {
  main {
    margin: 0;
    font-size: 95%;
  }
}
/* 3rd media query*/
@media only screen and (max-width: 500px) {
  body {
    margin: 0;
    font-size: 90%;
    padding: 0;
  }
  header {
    font-size: 75%;
  }
  main {
    h2 {
      margin-top: 1em;
    }
    padding-bottom: 1em;
  }
  footer p {
    font-size: 1em;
  }
}
