/* Background image for the main page */
body {
  width: 100%;
  height: max-content;
  background: url("../images/Background_Image.jpg") no-repeat scroll center;
  background-size: cover;
}
/* The style for the aside */
aside {
  margin: 0;
  grid-area: aside;
  width: 39%;
  height: 85%;
  background-color: var(--color-7);
}

aside h1 {
  padding-top: 0.5em;
  margin: 0 1em;
  font-size: 300%;
}

aside p {
  font-size: 150%;
  margin: 1em 2em;
  color: var(--color-4);
}

aside img {
  font-size: 300%;
  grid-area: image;
  width: 100%;
  height: auto;
  padding-bottom: 3em;
}

#mobile_menu {
  display: none; /* turn off Slicknav menu */
}

/* 1st media query */
@media only screen and (max-width: 1307px) {
  aside h1 {
    margin: 0 1.5em;
    font-size: 150%; /* Reduce the h1 font size from 150% */
  }
  aside p {
    font-size: 110%; /* Reduce the p font size to 95% */
  }
}

/* 2nd media query */
@media only screen and (max-width: 890px) {
  header {
    display: grid;
    grid-template: repeat(3, auto) / 100%;
    grid-gap: 0.5em;
    justify-items: center;
    text-align: center;
  }
  #nav_menu {
    display: none; /* hide navigational menu */
  }
  #mobile_menu {
    display: block; /* display Slicknav menu */
    grid-area: navi;
  }

  .slicknav_menu {
    /* Slicknav menu setting */
    aside {
      float: none;
      width: 100%;
    }
    background-color: var(--color-8) !important;
  }
  /* adjust body margin to none */
  body {
    margin: 0;
  }

  /* adjust aside setting */
  aside {
    margin: 0;
    float: none;
    width: 100%;
  }
  aside image {
    padding-bottom: 1em;
  }
}
footer {
  margin-top: 0;
}
/* 3rd media query (383 pixels or less) */
@media only screen and (max-width: 430px) {
  aside {
    float: none;
    width: 100%;
    font-size: 85%;
  }
  aside image {
    padding: 0;
    margin: 0;
  }
  footer p {
    font-size: 0.8em;
  }
}
