/* Background image for the main page */
body {
  width: 100%;
  background: url("../images/Background_Image.jpg") no-repeat scroll center;
  background-size: cover;
}
/* The style for the aside */
main {
  padding-bottom: 3.85em;
}
aside {
  margin: 0;
  grid-area: aside;
  width: 39%;
  height: auto;
  background-color: var(--color-7);
}
aside h2 {
  padding-top: 0.5em;
  margin: 0 1em;
  font-size: 300%;
}
aside p {
  font-size: 150%;
  margin: 1em 2em;
  color: var(--color-4);
}
aside img {
  font-size: 300%;
  grid-area: image;
  width: 100%;
  height: auto;
  padding-bottom: 2.85em;
}
#mobile_menu {
  display: none; /* turn off Slicknav menu */
}
/* 1st media query */
@media only screen and (max-width: 1307px) {
  aside h1 {
    margin: 0 1.5em;
    font-size: 150%; /* Reduce the h1 font size from 150% */
  }
  aside p {
    font-size: 110%; /* Reduce the p font size to 95% */
  }
}
/* 2nd media query */
@media only screen and (max-width: 1045px) {
  #nav_menu {
    display: none; /* hide navigational menu */
  }
  #mobile_menu {
    display: block; /* display Slicknav menu */
  }
  /* the style for slicknav menu */
  .slicknav_menu {
    main {
      float: none;
      padding: 2.5%;
      width: 95%;
    }
    background-color: var(--color-8) !important;
  }
  /* adjust aside setting */
  aside {
    margin: 0;
    float: none;
    width: 100%;
  }
  aside image {
    padding-bottom: 1em;
  }
}
footer {
  margin-top: 0;
}
/* 3rd media query (500 pixels or less) */
@media only screen and (max-width: 500px) {
  body {
    margin: 0;
    font-size: 90%;
    padding: 0;
  }
  header {
    font-size: 75%;
  }
  aside {
    float: none;
    width: 100%;
    font-size: 85%;
    height: 82%;
  }
  aside image {
    padding: 0;
    margin: 0;
  }
  footer p {
    font-size: 1em;
  }
}
