:root {
	--color-1: #f2972e;
    --color-2: #135e17;
    --color-3: #ffffff;
	--color-4: #4CAF50; }
/* the styles for the elements */
header {
    background-color: var(--color-2);
	font-size: 15px;
	text-align: left;
	padding: 0 0 10em var(--color-2);
	border-bottom: 3px solid var(--color-2);}
header h1 {
	font-size: 300%;
	line-height: 1.5;
	text-align: center;
	text-shadow: 2px 2px 4px var(--color-1);
    color: var(--color-3); }
header h2 {
	font-size: 175%;
	text-align: center;
	color: var(--color-3); }
header h3 {
	font-size: 150%;
	line-height: 3;
	text-align: center;
    color: var(--color-3);
	font-style: italic; }
header img {
	float: left;
	padding: 20 200px; }
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-size-adjust: 100%;
    margin: 0 0;
    padding: 0; }
/* the styles for the footer */
footer {
	background-color: var(--color-2);
	clear: both; }
/* RELATIONAL SELECTOR */
footer p {
	text-align: center;
	color: var(--color-3);
	padding: 1em 0; }